body {
    background: #0A285F;
}

.content {
    margin: 5%;
}

.content > h1 {
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
}

.navbar {
    background: #FF4F4F;
    color: #FFE9E9;
    height: 8%;
}
.navlink {
    color: #FFE9E9;
}

#login-btn {
    position: absolute;
    right: 0;
}

footer {
    background: #f2f2f2;
    padding: 0.5%;
}